<div class="margin-top">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-12 col-lg-6 bg-image text-light d-flex align-items-center mb-5"
      >
        <div class="p-2 p-lg-5">
          <p class="font-extrabold h1">MiGig Customize Gig Bag</p>
          <p class="pt-3 fs-4 font-Regular">
            Customize Your Sound, Carry Your Style: Personalized Gig Bags for
            Musicians
          </p>
          <p class="my-3 fs-5 font-Regular"></p>
          <p class="my-3 fs-5 font-Regular"></p>
          <a routerLink="#" class="button1 font-Regular">Book a tour</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end banner -->

  <!-- carousel -->
  <!-- <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#hero-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#hero-carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#hero-carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        src="../../assets/image/guitar.jpg"
        class="d-block w-100 c-img"
        alt="Slide 1"
        loading="lazy"
      />
      <div class="carousel-caption fade-in-slide-up">
        <p class="fs-3 text-uppercase font-Regular">
          MiGig Customized Gig Bags
        </p>
        <h1 class="display-1 font-semibold text-capitalize">Guitar</h1>
        <a routerLink="#" class="button1 font-Regular">Book a tour</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="../../assets/image/keyboard.jpg"
        class="d-block w-100 c-img"
        alt="Slide 2"
        loading="lazy"
      />
      <div class="carousel-caption fade-in-slide-up">
        <p class="text-uppercase fs-3 mt-5 font-Regular">
          MiGig Customized Gig Bags
        </p>
        <p class="display-1 text-capitalize font-semibold">Keyboard</p>
        <a routerLink="#" class="button1 font-Regular">Book a tour</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="../../assets/image/img.jpg"
        class="d-block w-100 c-img"
        alt="Slide 3"
        loading="lazy"
      />
      <div class="carousel-caption fade-in-slide-up">
        <p class="text-uppercase fs-3 mt-5 font-Regular">
          MiGig Customized Gig Bags
        </p>
        <p class="display-1 text-capitalize font-semibold">Padded Guitar Bag</p>
        <a routerLink="#" class="button1 font-Regular">Book a tour test</a>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#hero-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#hero-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
  <!-- end carousel -->

  <!-- cards -->
  <!-- <section class="products mt-5">
    <div class="container">
      <div class="title mb-5">
        <span class="h1 font-bold">Products</span>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <div class="col">
          <div class="card border-0 h-100">
            <img
              src="../../assets/image/guitar.jpg"
              class="card-img-top w-100 rounded"
              alt="Card Image"
              loading="lazy"
            />
            <div class="card-body">
              <h5 class="card-title font-semibold">Guitar Bag</h5>
              <p class="card-text font-Regular">
                Lorem ipsum dolor sit amet. Aut impedit fugit aut ratione
                suscipit aut nisi enim sed doloribus ipsam aut nostrum eaque non
                aperiam dicta.
              </p>
              <a
                href="#"
                class="btn btn-red text-white font-semibold btnDetails learn-more"
                ><span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">See More</span></a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 h-100">
            <img
              src="../../assets/image/keyboard.jpg"
              class="card-img-top w-100 rounded"
              loading="lazy"
              alt="Card Image"
            />
            <div class="card-body">
              <h5 class="card-title font-semibold">Keyboar bag</h5>
              <p class="card-text font-Regular">
                Lorem ipsum dolor sit amet. Aut impedit fugit aut ratione
                suscipit aut nisi enim sed doloribus ipsam aut nostrum eaque non
                aperiam dicta.
              </p>
              <a
                href="#"
                class="btn btn-red text-white font-semibold btnDetails learn-more"
                ><span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Learn More</span></a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 h-100">
            <img
              src="../../assets/image/gig.jpg"
              class="card-img-top w-100 rounded"
              alt="Card Image"
              loading="lazy"
            />
            <div class="card-body">
              <h5 class="card-title font font-semibold">Gig Bag</h5>
              <p class="card-text font-Regular">
                Lorem ipsum dolor sit amet. Aut impedit fugit aut ratione
                suscipit aut nisi enim sed doloribus ipsam aut nostrum eaque non
                aperiam dicta.
              </p>
              <a
                href="#"
                class="btn btn-red text-white font-semibold btnDetails learn-more"
                ><span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Learn More</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="more text-center mt-3 mb-5">
        <a
          href="/products"
          class="btn btn-black text-white bg-black1 font-Regular"
          >View all products</a
        >
      </div>
    </div>
  </section> -->
  <!-- end card -->

  <section class="products mt-5 mb-5">
    <div class="container">
      <div class="title mb-5 text-center">
        <span class="h1 font-bold"> MiGig Products</span>
      </div>
    </div>
    <div class="card-container container">
      <!-- Repeat the following card structure for each card -->
      <div class="card">
        <a href="/product/guitar">
          <img
            src="../../assets/image/products/g1.png"
            alt="Card Image"
            loading="lazy"
            decoding="async"
          />
          <div class="card-content">
            <a
              href="/product/guitar"
              class="btn btn-red text-white font-semibold btnDetails learn-more"
              ><span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text font-bold">Guitar</span></a
            >
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/product/keyboard">
          <img
            src="../../assets/image/products/k1.png"
            alt="Card Image"
            loading="lazy"
            decoding="async"
          />
          <div class="card-content">
            <a
              href="#"
              class="btn btn-red text-white font-semibold btnDetails learn-more"
              ><span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text font-bold">Keyboard</span></a
            >
          </div>
        </a>
      </div>
      <div class="card">
        <img
          src="../../assets/image/products/drumpad1.png"
          alt="Card Image"
          loading="lazy"
          decoding="async"
        />
        <div class="card-content">
          <a
            href="#"
            class="btn btn-red text-white font-semibold btnDetails learn-more"
            ><span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text font-bold">Drum Pad</span></a
          >
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/image/products/ampli1.png"
          alt="Card Image"
          loading="lazy"
          decoding="async"
        />
        <div class="card-content">
          <a
            href="#"
            class="btn btn-red text-white font-semibold btnDetails learn-more"
            ><span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text font-bold">Amplifliers</span></a
          >
        </div>
      </div>
      <div class="card">
        <a href="/product/percussion">
          <img
            src="../../assets/image/products/c1.png"
            alt="Card Image"
            loading="lazy"
          />
          <div class="card-content">
            <a
              href="#"
              class="btn btn-red text-white font-semibold btnDetails learn-more"
              ><span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text font-bold">Percussion</span></a
            >
          </div>
        </a>
      </div>
      <!-- Repeat the above card structure for a total of 10 cards -->
    </div>
  </section>
  <!-- <section class="about mt-5 mb-5">
  <div class="container about-container">
    <div class="wrapper">
      <div class="img-left"></div>
      <div class="img-right">
        <div class="img-right-wrapper">
          <h2 class="title font-extrabold">Lorem Ipsum</h2>
          <p class="font-Regular fs-5">
            shop-localshop-localLorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <p class="font-Regular fs-5">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <p class="font-Regular fs-5">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <p>-------</p>
          <div>Jane &amp; John Doe</div>
          <div><strong>Acme Outdoors</strong></div>
        </div>
      </div>
    </div>
  </div>
</section> -->

  <section class="aboutus mb-5">
    <div class="container-fluid p-0">
      <div class="row g-0 px-0">
        <div
          class="col-12 col-md-6 col-lg-6 order-md-first order-first thisFadeIn"
        >
          <img
            class="img-responsive"
            style="width: 100%; height: 100%"
            src="../../assets/image/abt.jpg"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div
          class="col-12 col-md-6 myColor col-lg-6 text-dark d-flex align-items-center thisFadeIn"
        >
          <div class="p-2 p-lg-5">
            <h2 class="pt-3 px-3 text-white font-extrabold">Item Title here</h2>
            <p class="pt-3 fs-6 px-3 text-white font-Regular fs-5">
              Lorem isum dolor sit amet lorem Lorem isum dolor sit amet lorem
              Lorem isum dolor sit amet lorem Lorem isum dolor sit amet lorem
              Lorem isum dolor sit amet lorem Lorem isum dolor sit amet lorem
              Lorem isum dolor sit amet lorem
            </p>
            <a routerLink="#" class="button1 ms-3">Book a tour</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
