/* .bg-image {
   background-size: auto;
  background-repeat: no-repeat;
  height: 85vh;
  width: 200vw;
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
    url("../../assets/image/keyboard.jpg");
}
a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
} */
/* end banner */

.c-item {
  height: 680px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/*  carousel button fade in */
.fade-in-slide-up {
  opacity: 0;
  transform: translateY(50px);

  animation: fadeInUp 1s ease-in-out forwards;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* carousel */

/* end carousel */
a.bg-black1:hover {
  background-color: #fe0003;
}
/*a.btn-red:hover {
  background-color: #1b1b1b;
 } */

/* card */
/* .card {
 
  height: 1;
  border-radius: 20px;
  position: relative;
  padding: 1.8rem;
   transition: 0.5s ease-out;
  overflow: visible;
} */

/*Hover*/
/* .card:hover {
  border-color: #fe0003;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
} */

/* end card */

/* card button */
.btnDetails {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.btnDetails.learn-more {
  width: 12rem;
  height: auto;
}

.btnDetails.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1b1b1b;
  border-radius: 1.625rem;
}

.btnDetails.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.btnDetails.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btnDetails.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.btnDetails.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1b1b1b;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.btnDetails:hover .circle {
  width: 100%;
}

.btnDetails:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.btnDetails:hover .button-text {
  color: #ffff;
}

/* end card button */

.wrapper {
  position: relative;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.img-left {
  position: absolute;
  left: 0%;
  top: 6%;
  right: auto;
  bottom: 0%;
  width: 30%;
  height: 0px;
  min-height: 440px;
  border-radius: 5px;
  background-image: url("../../assets/image/imgPr1.png");
  background-position: 69% 80%;
  background-size: cover;
}
.img-right {
  display: flex;
  width: 80%;
  padding: 45px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 5px;
  background-color: #222;
  color: #f9f9f9;
}
.img-right-wrapper {
  width: 80%;
}
.container {
  /* max-width: 1200px; */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 991px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .img-left {
    top: 8%;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .img-left {
    position: static;
    width: 100%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 767px) {
  .img-right {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* about us */
.myColor {
  background-color: #1b1b1b;
}
